*,
*::before,
*::after {
    box-sizing: border-box;
}
.header-section{
    border-bottom: 1px solid #e7e9fc;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
a {
    text-decoration: none;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
display: block;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.header-container{
display: flex;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}
.header-navigation{
    display: flex;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.header-logo{
    padding: 24px 0;
    margin-right: 76px;
}

.logo-web-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #2e2f42;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.menu-cl{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-list-items {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0 24px;
}

.header-list-items:hover,
.header-list-items:focus {
    color: #404bbf;

}

.header-address {
    font-style: normal;
    margin-left: auto;
}
.header-address-list{
    gap: 40px;
    display: flex;
    align-items: center;
}
.info {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    padding: 24px 0 24px;
}

.info:hover,
.info:focus {
    color: #404bbf;
}

.first-section {
    background-color: #2e2f42;
    padding: 188px 0 188px;
}


.second-section{
    padding: 120px 0;
}
.visually-hidden{
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    .title-first-section {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    display: block;
    margin: auto;
}
.second-class-button{
    padding-top: 48px;
}

.button {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: auto;
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

h2 {
    font-weight: 700;
}
.adv-list{
    display: flex;
    gap: 24px;
}
.list-item-second {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.adv-list-item{
    width: calc((100% - 72px) / 4);
}

.list-item-second-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.third-section {
    background-color: #F4F4FD;
    padding: 120px 0;

}

.third-section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.people-pics{
    display: flex;
    gap: 24px;
}

.image-third-section {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.name{
    padding: 32px 0;
}
.list-item-third {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}
.list-item-fourth {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: left;
}

.list-item-third-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
.list-item-fourth-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}
.apps{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.apps-item{
    width: calc((100% - 48px) / 3);
}
.div-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.footer-class {
    background-color: #2E2F42;
    padding: 100px 0;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-web-studio-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #F4F4FD;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footerp {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}